{% extends 'base.html' %}
{% load common %}
{% load stats %}

{% block content %}
    <div class="ocf-content-block">
        {% stats_navbar %}
        <h2> Money Saved Since {{ start_date }} </h2>
        <div> 
            <h3> Printing costs </h3>
            <br />
                    <th> Cost at library ($0.08/pg)</th>
                    <th> ${{ print_data }}* 0.08</th>
            <h3> Hosting costs </h3>
            <br />
            <table class="table table-striped table-hover">
                <tr>
                    <th> Websites Served </th>
                    <th> Cost at Wordpress ($25/month)</th>
                </tr>
                <tr>
                    <th> {{ group_accounts }} </th> 
                    <th> ${{ group_accounts }}* 25</th>
                </tr>
            </table>
        </div>
        
{% endblock %}
