{% extends 'base.html' %}
{% load common %}
{% load stats %}

{% block content %}
    <div class="ocf-content-block">
        {% stats_navbar %}
        <h2> Money Saved Since {{ start_date }} </h2>
        <div> 
            <br />
            <table class="table table-striped table-hover">
                <tr>
                    <th> Services Provided </th>
                    <th> Standard Pricing </th>
                    <th> Money Saved </th>
                </tr>
                <tr>
                    <td> Websites Served: {{ website_data.1 }} </td> 
                    <td> ${{ constants.2 }} /month </td>
                    <td> ${{ website_data.0 }} / month</td>
                </tr>
                <tr>
                    <td> Pages Printed: {{ print_data.1 }} </td> 
                    <td> ${{ constants.0 }}/page </td>
                    <td> ${{ print_data.0 }} </td>
                </tr>
            </table>
        </div>
        <h2> Value Per Student </h2>
        <div>
            <table class="table table-striped table-hover">
                <tr>
                    <th> Active Accounts Served </th>
                    <th> Printing Value ({{ constants.1 }} pg/sem) </th>
                    <th> Webhosting Value (${{ constants.3 }}/month) </th>
                </tr>
                <tr>
                    <td> {{ value_data.0 }} </td>
                    <td> ${{ value_data.1 }} </td>
                    <td> ${{ value_data.2 }} </td>
                </tr>
            </table>
        </div>
    </div>
        
{% endblock %}
