{% extends 'base.html' %}
{% load common %}
{% load stats %}

{% block content %}
    <div class="ocf-content-block">
        {% stats_navbar %}
        <h2> Money Saved Since {{ start_date }} </h2>
        <div> 
            <h3> Printing costs ($0.08/pg at the library)</h3>
                    {{ print_data }}
            <h3> Hosting costs </h3>
            <br />
            <table class="table table-striped table-hover">
                <tr>
                    <th> Websites Served </th>
                    <th> Cost at Wordpress ($25/month)</th>
                </tr>
                <tr>
                    <th> {{ website_count }} </th> 
                    <th> ${{ website_count }}* 25</th>
                </tr>
            </table>
        </div>
        
{% endblock %}
